h2 {
    text-align: center;
    background-color: #ef233c;
    border-radius: 0.5em;
    padding: 0.5em;
    color: #edf2f4;
}


.membertable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    /* margin: 10px; */
    border-radius: 500px;
}

.cont {
    background-color: #edf2f4;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    padding: 2em;
    border-radius: 1em;
}

table td{
    padding: 12px;
}



table tr:hover {
    background-color: #ef233bd7;
    color: #edf2f4;
    border-radius: 50px;

}

tr {
    border: 1px solid #edf2f4;
    border-radius: 10px;
  }


table th {
    /* padding-bottom: 1em; */
    padding: 1em 0;
    margin-bottom: 1em;
    background-color: #8d99ae;
}

/* tr .heading {
    margin-bottom: 1em;
    color: #2b2d42;
} */

table .heading-left {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;

}

table .heading-right {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.cells a{
    color: black;
}

.cells a:hover{
    color: #edf2f4;
}



/* #membertable tr:nth-child(even) {
    background-color: #f2f2f2;
} */
/* 
#membertable tr {
    background-color: #ff908d;
}

#membertable tr:hover {
    background-color: #ddd;
}

#membertable th {
    text-align: left;
    background-color: #ff908d;
    color: white;
    text-align: center;

} */