<div class="container my-5 ">
    <h2 class="mb-3">Members</h2>
    <div class="cont">
        <input class="form-control mb-3" type="text" placeholder="Search Member here ..."
            aria-label="default input example" [(ngModel)]="searchValue">
        <div>
            <!-- <label for="">Number of Members:  </label> -->
            <p>Member Count: {{mem_Count}}</p>
            <!-- <p>Member Count: {{memberCount()}}</p> -->
            <!-- <p>{{members}} </p> -->
        </div>
        <div class="col-3 mb-3">
            <select class="form-select" id="gender" name="gender" [(ngModel)]="genderValue">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>


        <table class="membertable" *ngIf="members && members.length>0">
            <tr class="heading">
                <th class="heading-left">ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Contact Number</th>
                <th class="heading-right"> </th>
            </tr>


            <tr class="cells" *ngFor="let member of members | searchfilter:searchValue | genderfilter:genderValue">
                <td class="">{{ member.id }}</td>
                <td>{{ member.firstName }}</td>
                <td>{{ member.lastName }}</td>
                <td>{{ member.gender }}</td>
                <td>{{ member.address }}</td>
                <td>{{ member.contactNumber }}</td>
                <!-- <td><a [routerLink]="['/members','edit', member.id]">Edit</a></td> -->
                <button style="margin-top: 5px;" class="btn btn-primary" type="button" (click)="viewMember(member.id)">View Details</button>
            </tr>
        </table>
    </div>
</div>
